*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
section{
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8rem;
    padding: 2rem;
    background-color: #73848d;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}
.nav-links{
    display: flex;
    font-size: 1.90rem;
    gap: 11rem;

}
.nav-links li{
    list-style: none;
}
.nav-links li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.nav-links li a:hover{
    color: coral;
}
/* section */
 .container{
    display: flex;
    padding: 5rem;
    flex-direction: column;
    background-image: url(/IMG/Frame\ 36997.png);
    background-position: center;
    background-size: cover;
    height: 110vh;
    width: 100%;
    background-blend-mode: overlay;
    position: relative;
 }
  .form{
    display: flex;
    background-color: #fff !important;
    width: 70%;
    position: absolute;
    align-items: center;
    left: 20rem;
    top: 12rem;
    justify-content: center;
    height: 80vh;
    padding: 6rem 6rem 6rem 1rem;
    border-radius: 7px 35px;
  }
  label{
    font-size: 1.7rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  head{
    position: relative;
  }
 .main-img{
    margin-left: -10rem;
    /* display: none; */
 }
 h1{
    font-size: 2.50rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #141850;
    margin: 1rem 0 -1rem 0;
}
h2{
    font-size: 3rem;
    margin-top: 2rem;
}
h3{
    font-size: 1.6rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(74, 116, 145);
     margin: 2rem 0;
 }
 h4{
    font-size: 2.50rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    left: 5rem;
    top: 3rem;
 }
 .form input{
    width: 130% !important;
    height: 6vh;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    border-radius: 5px;
    transition: 3s ease all;
    border: 1px solid #606064;
    cursor: pointer;
}
.form input:hover{
    background-color: #60606452;
}
.form input:active{
    background-color: #141850;
    
}
.btn{
    width: 130%;
    border-radius: 5px;
    margin-top: 4rem;
    border: none;
    height: 5vh;
    color: #fff;
    cursor: pointer;
    padding: 1.5rem 2rem 2.7rem 2rem;
    text-align: center;
    font-weight: 700;
    background-color: rgb(74, 116, 145);
    transition: 3s ease all;
 }
 .btn:hover{
    background-color: rgb(59, 83, 100);
 }
 aside{
    margin-left: 3rem;
    /* position: relative; */
 }
